<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch together</title>
</head>
<body>
        <div id="connect">
            <h1>Connect</h1>

            Username: <input id="connect-username" placeholder="username"> <br>
            IP: <input id="connect-ip" placeholder="0.0.0.0"> <br>
            Port: <input id="connect-port" placeholder="25565" value="25565"> <br>
            <br>
            <button id="connect-button">Connect</button>
        </div>

        <div id="w2g">
            <h1>Watch together</h1>

            <video id="video" src="/files/video.mp4" controls width="700"></video>
            <br>
            <button id="skip-back-5">Skip -5 seconds</button>
            <button id="skip-5">Skip +5 seconds</button>
        </div>

        <script src="/scripts/main.js"></script>
</body>
</html>
